header,
.flash-message-container,
main,
nav,
footer{
    margin:0 auto;
    display: block;
    padding: 1%;
}
main{
    position: relative;
}
header{
    background: rgba(255,255,255,0);
    -o-transition: text-align 0.4s;
    -ms-transition: text-align 0.4s;
    -webkit-transition: text-align 0.4s;
    -moz-transition: text-align 0.4s;
    transition: text-align 0.4s;
}
nav{
    font-size:16px;
    padding:0;
}
nav a{
    display:inline-block;
    vertical-align: middle;
}
footer{
    text-align: center;
    padding:1%;
}
footer a{
    display:inline-block;
}
.head-line{
    font-size:20px;
    font-weight:100 !important;
}
/** VIEW PORT **/
@media only screen and (min-width:768px) {
    header{
        text-align: center;
    }
}
@media only screen and (min-width:960px) {
    header,
    .flash-message-container,
    main,
    nav,
    footer{
        width:960px;
        -o-transition: width 0.4s;
        -ms-transition: width 0.4s;
        -webkit-transition: width 0.4s;
        -moz-transition: width 0.4s;
        transition: width 0.4s;
    }
    header.fix+main,
    .flash-message-container{
        width:540px;
        -o-transition: width 0.4s;
        -ms-transition: width 0.4s;
        -webkit-transition: width 0.4s;
        -moz-transition: width 0.4s;
        transition: width 0.4s;
    }
}
@media only screen and (min-width:1350px) {
    header,
    .flash-message-container,
    main,
    nav,
    footer,
    header.fix+main{
        width:960px;
    }
}

/* header */
header .thumbnail{
    height:80px;
}
header h1{
    margin:0;
    font-style: italic;
    font-weight:100;
    font-size:30px;
    display:inline-block;
    vertical-align: middle;
    -o-transition: width 0.4s, font-size 0.4s;
    -ms-transition: width 0.4s, font-size 0.4s;
    -webkit-transition: width 0.4s, font-size 0.4s;
    -moz-transition: width 0.4s, font-size 0.4s;
    transition: width 0.4s, font-size 0.4s;
}
header h1 i{
    color:#5ece7f !important;
}
header h1 small{
    font-size:18px;
    display:block;
    color:#5ece7f;
}
header .open-menu-trigger{
    position:absolute;
    top:15px;
    right:15px;
    z-index:1;
    color:#797e83;
}
@media only screen and (min-width:960px) {
    .thumbnail{
        width:120px;
    }
    header .thumbnail{
        height:120px;
    }
    header h1{
        width:350px;
    }
}
/* nav */
header.nav-opened #close-menu-trigger{
    border-bottom: 1px solid #EEE;
}
nav {
    position: fixed;
    height: 100%;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 2;
    width: 100%;
    background-color: #307e52;
    overflow-y: auto;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-transition: -webkit-transform .4s 0s, visibility 0.4s;
    -moz-transition: -moz-transform .4s 0s, visibility 0.4s;
    transition: transform .4s 0s, visibility 0.4s;
    /* this creates the subtle slide in animation of the navigation */
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    text-align:right;
}
header.nav-opened nav {
    z-index:3;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
    -webkit-transition: -webkit-transform .4s 0s, visibility 0.4s 0s;
    -moz-transition: -moz-transform .4s 0s, visibility 0.4s 0s;
    transition: transform .4s 0s, visibility 0.4s 0s;
    /* smooth the scrolling on touch devices - webkit browsers */
    -webkit-overflow-scrolling: touch;
}
nav a{
    color:#EEE;
    display:block;
    padding:20px;
    -webkit-transition: color .4s 0s;
    -moz-transition: color .4s 0s;
    transition: color .4s 0s;
}
nav a:hover{
    color:#111;
    -webkit-transition: color .4s 0s;
    -moz-transition: color .4s 0s;
    transition: color .4s 0s;
}
nav a i.fa{
    margin:0 5px 0 15px;
}
@media only screen and (min-width:960px) {
    #open-menu-trigger,
    #close-menu-trigger{
        display:none;
    }
    nav{
        position: inherit;
        height: 70px;
        padding:0;
        visibility: visible;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        -webkit-transition: -webkit-transform .4s 0s, visibility 0s 0.4s;
        -moz-transition: -moz-transform .4s 0s, visibility 0s 0.4s;
        transition: transform .4s 0s, visibility 0s 0.4s;
        /* this creates the subtle slide in animation of the navigation */
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
        text-align:right;
        background:none;
        text-align: center;
    }
    nav a {
        display:inline-block;
        color:inherit;
        padding:0 0 0 20px;
        -webkit-transition: padding .4s 0s;
        -moz-transition: padding .4s 0s;
        transition: padding .4s 0s;
    }
    nav a i{
        display:none !important;
    }
    nav a:after{
        content:"*  ";
        margin:5px 0 0 15px;
        color:#5ece7f;
        display: inline-block;
        vertical-align: bottom;
    }
    nav a.last:after{
        content:"";
        margin:0;
        display: inherit;
    }
    /* nav fix state */
    header.fix nav{
        display:inline-block;
        text-align: right;
        position:absolute;
        left:0;
        right:inherit;
        top:80px;
        width:auto;
        display:inline-block;
        height:auto;
    }
    header.fix nav a{
        display:block;
        padding:20px 0;
        -webkit-transition: padding .4s 0s;
        -moz-transition: padding .4s 0s;
        transition: padding .4s 0s;
    }
    header.fix nav a i{
        display:inline-block !important;
        margin:0 10px;
    }
    header.fix nav a:after{
        content:"";
        margin:0;
    }
}
/* footer */
footer a:after{
    content:"|";
    margin:0 5px;
    color:#5ece7f;
    display: inline-block;
    vertical-align: top;
}

footer a.last:after{
    content:"";
    margin:0;
    display: inherit;
}

/* On scroll, header fixed */
header.fix{
    position:fixed;
    width:100%;
    top:0;
    z-index: 4;
    text-align: left;
    background: rgba(255,255,255,0.8);
    -o-transition: text-align 0.4s;
    -ms-transition: text-align 0.4s;
    -webkit-transition: text-align 0.4s;
    -moz-transition: text-align 0.4s;
    transition: text-align 0.4s;
}
header.fix h1{
    font-size: 18px;
    margin:0 0 0 20px;
    -o-transition: width 0.4s 0s, font-size 0.4s 0s;
    -ms-transition: width 0.4s 0s, font-size 0.4s 0s;
    -webkit-transition: width 0.4s 0s, font-size 0.4s 0s;
    -moz-transition: width 0.4s 0s, font-size 0.4s 0s;
    transition: width 0.4s 0s, font-size 0.4s 0s;
}
header.fix h1 small{
    font-size: 14px;
}
header.fix .thumbnail{
    display:inline-block;
    vertical-align: middle;
    width:60px;
    height:60px;
    -o-transition: width 0.4s, height 0.4s;
    -ms-transition: width 0.4s, height 0.4s;
    -webkit-transition: width 0.4s, height 0.4s;
    -moz-transition: width 0.4s, height 0.4s;
    transition: width 0.4s, height 0.4s;
}