h4{
    background:#5ECE90;
    color:#FFF;
    font-weight:bold;
    opacity:0.9;
}
header,
.flash-message-container,
main,
nav,
footer{
    margin:0 auto;
    display: block;
    padding: 10px;
}
main{
    position: relative;
    padding-top:120px;
    -o-transition: opacity .4s 0s;
    -ms-transition: opacity .4s 0s;
    -webkit-transition: opacity .4s 0s;
    -moz-transition: opacity .4s 0s;
    transition: opacity .4s 0s;
}
header{
    position:fixed;
    top:0;
    background: rgba(255,255,255,0);
    width:100%;
    z-index:4;
    padding:0 !important;
    text-align: center;
}
header > div{
    display:inline-block;
    -o-transition: width 0.4s;
    -ms-transition: width 0.4s;
    -webkit-transition: width 0.4s;
    -moz-transition: width 0.4s;
    transition: width 0.4s;
    text-align: left;
    padding:10px;
    width:100%;
}
header.fix > div{
    width:100%;
    z-index: 4;
    text-align: left;
    background: rgba(255,255,255,0.8);
    -o-transition: width 0.4s;
    -ms-transition: width 0.4s;
    -webkit-transition: width 0.4s;
    -moz-transition: width 0.4s;
    transition: width 0.4s;
}
nav > div{
    font-size:16px;
    padding:0;
}
nav a{
    display:inline-block;
    vertical-align: middle;
    border-bottom:2px solid #EEE;
}
footer{
    text-align: center;
    padding:10px;
}
footer a{
    display:inline-block;
}
.head-line{
    font-size:16px !important;
    font-style: italic;
    font-weight:100 !important;
}
.highlight{
    font-size:16px;
    color:#444;
}
.ref {
    color:#5ECE90;
}
/* header */
header .thumbnail{
    display:inline-block;
    vertical-align: middle;
    width:60px;
    height:60px;
    -o-transition: width 0.4s, height 0.4s;
    -ms-transition: width 0.4s, height 0.4s;
    -webkit-transition: width 0.4s, height 0.4s;
    -moz-transition: width 0.4s, height 0.4s;
    transition: width 0.4s, height 0.4s;
}

header h1{
    margin:0;
    font-style: italic;
    font-weight:100;
    font-size:18px;
    display:inline-block;
    vertical-align: middle;
    -o-transition: width 0.4s, font-size 0.4s;
    -ms-transition: width 0.4s, font-size 0.4s;
    -webkit-transition: width 0.4s, font-size 0.4s;
    -moz-transition: width 0.4s, font-size 0.4s;
    transition: width 0.4s, font-size 0.4s;
}
header h1 i{
    color:#5ECE90 !important;
}
header h1 small{
    font-size:14px;
    display:block;
    color:#5ECE90;
}
header .close-menu-trigger,
header .open-menu-trigger{
    position:absolute;
    top:15px;
    right:15px;
    z-index:1;
    color:#797e83;
    cursor:pointer;
}
@media print, screen and (min-width:960px) {
    .thumbnail{
        width:120px;
    }
    header .thumbnail{
        height:120px;
    }
    header h1{
        width:350px;
    }

}
/* nav */
header.nav-opened #close-menu-trigger{
    border-bottom: 1px solid #EEE;
}
nav {
    padding:0 20px 0 10px !important;
    position: fixed;
    height: 100%;
    right: 0;
    top:113px;
    visibility: hidden;
    z-index: 2;
    width: 250px;
    overflow-y: auto;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-transition: -webkit-transform .4s 0s, visibility 0.4s;
    -moz-transition: -moz-transform .4s 0s, visibility 0.4s;
    transition: transform .4s 0s, visibility 0.4s;
    /* this creates the subtle slide in animation of the navigation */
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    text-align:right;
}

header.nav-opened nav {
    z-index:3;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
    -webkit-transition: -webkit-transform .4s 0s, visibility 0.4s 0s;
    -moz-transition: -moz-transform .4s 0s, visibility 0.4s 0s;
    transition: transform .4s 0s, visibility 0.4s 0s;
    /* smooth the scrolling on touch devices - webkit browsers */
    -webkit-overflow-scrolling: touch;
}
header.nav-opened nav a,
nav a{
    display:block;
    padding:20px 15px 15px 15px;
    margin:10px 5px;
    -webkit-transition: color .4s 0s, border .4s 0s;
    -moz-transition: color .4s 0s, border .4s 0s;
    transition: color .4s 0s, border .4s 0s;
    text-align:left;
    background:#EEE;
    color:#999;
    width:250px;
    border-bottom:5px solid #EEE !important;
    border-left:2px solid #ccc !important;
}

nav a.first{
    border-top:1px solid #ccc !important;
    margin-top:0 !important;
}
header.nav-opened nav a i{
    float:right;
}
header.nav-opened nav a:hover {
    -webkit-transition: padding .4s 0s, color .2s 0s, background .2s 0s;
    -moz-transition: padding .4s 0s, color .2s 0s, background .2s 0s;
    transition: padding .4s 0s, color .2s 0s, background .2s 0s;
}
header.nav-opened + main{
    opacity:0.4;
    -webkit-transition: opacity .4s 0s;
    -moz-transition: opacity .4s 0s;
    transition: opacity .4s 0s;
}
header.nav-opened nav a:hover,
header.nav-opened nav a:active,
nav a:active,
nav a:hover{
    cursor:pointer;
    color:#111;
    border-bottom:5px solid #5ECE90 !important;
    -webkit-transition: color .4s 0s, border .4s 0s;
    -moz-transition: color .4s 0s, border .4s 0s;
    transition: color .4s 0s, border .4s 0s;
}
nav a span{
    display:inline-block;
    vertical-align: middle;
    width:150px;
}
nav a span + span{
    width:40px;
    margin-left:10px;
}

.certifications{
    text-align:center;
}
.certification-thumbnail {
    width:80px;
    display:inline-block;
    vertical-align: middle;
}


/* footer */
footer a:after{
    content:"|";
    margin:0 5px;
    color:#5ECE90;
    display: inline-block;
    vertical-align: top;
}

footer a.last:after{
    content:"";
    margin:0;
    display: inherit;
}
.social-network{
    float: none;
    vertical-align: middle;
    text-align: left;
    margin: 5px 0 0 0px;
    display: block;
    border: 1px solid #ccc;
    border-style: solid none;
    width: 100%;
    padding: 3px;
}

.social-network a{
    display:inline-block;
    margin:0 5px;
}
.social-network iframe{
    vertical-align: top;
}
/**************************************************************/
/** VIEW PORT **/
/**************************************************************/
/******************************************/
/** > 768 **/
/******************************************/
@media print, screen and (min-width:768px) {
    header.fix h1{
        font-size: 18px;
        -o-transition: width 0.4s 0s, font-size 0.4s 0s;
        -ms-transition: width 0.4s 0s, font-size 0.4s 0s;
        -webkit-transition: width 0.4s 0s, font-size 0.4s 0s;
        -moz-transition: width 0.4s 0s, font-size 0.4s 0s;
        transition: width 0.4s 0s, font-size 0.4s 0s;
    }
    header.fix h1 small{
        font-size: 14px;
    }

    main{
        padding-top:130px;
    }
}
/******************************************/
/** > 960 **/
/******************************************/
@media print,  screen and (min-width:960px) {
    header > div,
    .flash-message-container,
    main,
    footer{
        width:650px;
    }
    main{
        padding-top:130px;
    }
    header h1 small {
        font-size: 18px;
    }
    header .thumbnail {
        height: 80px;
        width:80px;
    }
    header.fix .thumbnail{
        height:60px;
        width:60px;
    }

    .social-network{
        float:right;
        width:inherit;
        vertical-align:middle;
        text-align:right;
        margin:20px 0 0 20px;
        border:none;
        display:inline-block;
        width:auto;
    }

    header.fix .social-network a{
        display:inline-block;
        margin:0 5px;
    }
    #open-menu-trigger,
    #close-menu-trigger{
        display:none !important;
    }
    nav{
        overflow: hidden;
        visibility: visible;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        -webkit-transition: left .4s 0s, visibility 0s 0.4s;
        -moz-transition: left .4s 0s, visibility 0s 0.4s;
        transition: left .4s 0s, visibility 0s 0.4s;
        text-align:right;
        position:absolute;
        left:-200px;
        right:inherit;
        width:auto;
        display:inline-block;
        height:auto;
        opacity:0.7;

    }
    nav a {
        color:inherit;
        display:block;
        padding:20px;
        -webkit-transition: padding .4s 0s, color .2s 0s, background .2s 0s;
        -moz-transition: padding .4s 0s, color .2s 0s, background .2s 0s;
        transition: padding .4s 0s, color .2s 0s, background .2s 0s;
        text-align:left;
    }
    nav a.first{
        border-top:none !important;
    }
    nav a i{
        display:inline-block;
        float:right;
    }
    nav a.last:after{
        content:"";
        margin:0;
        display: inherit;
    }
    nav:hover{
        display:inline-block;
        text-align: right;
        position:absolute;
        left:0px;
        opacity:1;
        -webkit-transition: left .4s 0s, opacity .4s 0s;
        -moz-transition: left .4s 0s, opacity .4s 0s;
        transition: left .4s 0s, opacity .4s 0s;
    }
    nav a:hover {
        -webkit-transition: padding .4s 0s, color .2s 0s, background .2s 0s;
        -moz-transition: padding .4s 0s, color .2s 0s, background .2s 0s;
        transition: padding .4s 0s, color .2s 0s, background .2s 0s;
        color:#999;
        background:#EEE;
    }
}
@media print,  screen and (min-width:1200px) {
    header > div,
    .flash-message-container,
    main,
    footer {
        width: 960px;
    }
}
/**************************************************************/
/** VIEW PORT END **/
/**************************************************************/